<div class="flex flex-col h-full animate-fade-in">
  <app-header pageTitle="Tenant Management"></app-header>

  <main class="p-6">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-8">
      <app-stat-card *ngFor="let stat of stats" [title]="stat.title" [value]="stat.value" [icon]="stat.icon"
        [iconBgClass]="stat.iconBgClass"
        [iconColorClass]="stat.iconColorClass"></app-stat-card>
    </div>

    <app-data-table title="Manage Tenants" [columns]="columns" [rows]="tenants" [currentPage]="currentPage"
      [pageSize]="pageSize" [totalItems]="totalItems" [enableActions]="true" [rowClickable]="false"
      (pageChange)="onPageChange($event)" (actionClick)="onActionClick($event)" [visibleActions]="['edit']"
      (edit)="onEdit($event)"></app-data-table>
  </main>
</div>